.container-fluid{
    background-color: #2155CD;
}

.img-fluid{
    width: 70%;
}

.info-pedro{
    color: white;
}

.cel{
    display: inline;
}

a img{
    width: 10%;
}

span{
    margin: 5px;
}

h2{
    color: white;
}